.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__img {
  border-radius: 5%;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 50px;
}

.about__title {
  font-size: var(--size-2xl);
  color: var(--clr--light);
}

.about__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.about__hr {
  border-color: var(--clr-slate800);
}

.about__subtitle {
  color: var(--clr--light);
  font-size: var(--size-sm);
}

.about__ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
  padding-left: 1em;
  flex: 1;
}

.about__ul-container {
  display: flex;
}

.about__list {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.about__list::before {
  margin-left: 0.5em;
  content: "";
}

/* xs */
@media (min-width: 475px) {
  .about {
    gap: 1.5rem;
  }

  .about__content {
    gap: 1.5rem;
  }

  .about__title {
    font-size: var(--size-3xl);
  }

  .about__description {
    font-size: var(--size-base);
  }

  .about__subtitle {
    font-size: var(--size-base);
  }

  .about__list {
    font-size: var(--size-base);
  }
}

/* sm */
@media (max-width: 640px) {
  .about__img {
    width: 24rem;
  }
  .about__img-wrapper {
    margin: 0 auto;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about__title {
    font-size: var(--size-4xl);
  }

  .about__description {
    font-size: var(--size-lg);
  }

  .about__subtitle {
    font-size: var(--size-lg);
  }

  .about__list {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .about__title {
    font-size: var(--size-5xl);
  }

  .about__description {
    font-size: var(--size-xl);
  }

  .about__subtitle {
    font-size: var(--size-xl);
  }

  .about__list {
    font-size: var(--size-xl);
  }

  .about__content {
    gap: 2rem;
  }

  .about__img {
    width: 30.75rem;
  }
}

/* xxl */
/* @media (min-width: 1536px) {} */

.icon-html {
  color: #e34f26; /* Warna ikon */
  font-size: 28px; /* Ukuran ikon */
  margin-right: 8px; /* Jarak antara ikon dan teks */
  vertical-align: middle;
}

.icon-css {
  color: #1572b6; /* Warna ikon */
  font-size: 28px; /* Ukuran ikon */
  margin-right: 8px; /* Jarak antara ikon dan teks */
  vertical-align: middle;
}

.icon-js {
  color: #f7df1e; /* Warna ikon */
  font-size: 24px; /* Ukuran ikon */
  margin-right: 8px; /* Jarak antara ikon dan teks */
  vertical-align: middle;
}

.icon-react {
  color: #61dafb; /* Warna ikon */
  font-size: 24px; /* Ukuran ikon */
  margin-right: 8px; /* Jarak antara ikon dan teks */
  vertical-align: middle;
}

.icon-tailwind {
  width: 24px; /* Ukuran ikon */
  margin-right: 8px; /* Jarak antara ikon dan teks */
  display: inline-block;
}

.icon-figma {
  width: 16px; /* Ukuran ikon */
  margin-right: 12px; /* Jarak antara ikon dan teks */
  margin-left: 4px;
  vertical-align: middle; /* Menyelaraskan ikon dengan teks */
  display: inline-block;
}
